---
title: Alec Larsen
---

%section#main
  %header
    %span.avatar
      = image_tag "avatar.svg"
    
    %h1 Alec Larsen
    %p
      Professional Programmer
      %br/
      Amateur Mathematician
      %br/
      Aspiring Lojbanist
  
  %footer
    %ul.icons
      %li
        = link_to 'Github', 'https://github.com/alecdotninja', class: "fa-github"
      %li
        = mail_to 'hello@alec.ninja', 'Email', class: "fa-envelope"